body {
    font-family: Arial;
    
    text-align: center;
    background-image: url("weather.jpeg");
    background-repeat: no-repeat;
    background-size: cover ;

  }

.weather-container {
    margin-top: 50px;
    margin-bottom: 50px;
  }


    .header {
      background-color: #333;
      color: #fff;
      padding: 10px;
    }

    .footer {
   
      color: #fff;
      padding: 10px;
      position: fixed;
      bottom: 0;
      width: 100%;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
      }